<div class="control-group <% if object.errors[attribute].present? %>error<% end %>">
  <%= model.label attribute, place_holder, :for => "#{object.class.name.underscore}_#{attribute}" %>
  <%= model.password_field attribute, :placeholder => place_holder, :class => "input-block-level" %>
  <% if object.errors[attribute].present? %>
    <span class="help-inline"><%= object.errors[attribute].first%></span>
  <% end %>
</div>
