<div class="control-group <% if object.errors[attribute].present? %>error<% end %>">
  <%= model.label attribute, place_holder, :for => "#{object.class.name.underscore}_#{attribute}" %>
  <div class='pwdwidgetdiv' id='password-div'></div>
  <% if object.errors[attribute].present? %>
    <span class="help-inline"><%= object.errors[attribute].first%></span>
  <% end %>
</div>

<script  type="text/javascript" >
  var pwdwidget = new PasswordWidget('password-div','user_password', 'input-block-level');
  pwdwidget.MakePWDWidget();
</script>