
<p>
<h3>  Introduction  </h3>

BTS Helper is organizational software. That helps an organization to build a bug free projects .In which QA can generate bug <br>
in developer code and assign back to the developer. Then developer  removes that bugs and update status according to that <br>
bugs and project manager view all that activities.Design with a simple and clean user interface. It gives key information about <br>
overall position of the project.Reports are going to flow through both of the services very easily and essentially through these <br>
possible means.
</p>
<p>
<h5>1. Manager Work  </h5>
A Manager is a group leader that assign project to particular development teams . Manger views all
activities with time to time.
</p>
<p>
<h5> 2.Developer works</h5>
Developer is person that is responsible for coding software . Developer recives it projects by manager and code according to <br>
requirments. Also remove bugs from code .
</p>
<p>
<h5>3.QA Work </h5>
QA is responsible for checking the code of Developer and Identify bugs .
</p>
