<div class="control-group <% if object.errors[attribute].present? %>error<% end %>">
  <%= model.label attribute, place_holder, :for => "#{object.class.name.underscore}_#{attribute}", :class => "control-label" %>
  <%= content_tag(:div, ""  , :class => "controls error-holder" ) do %>
    <%#= model.password_field attribute, :placeholder => place_holder %>
  <div class='pwdwidgetdiv pull-left' id='password-div'></div>

  <span class="help-inline error-float"><%= object.errors[attribute].first%></span>
    <% end %>
</div>

<script  type="text/javascript" >
  var pwdwidget = new PasswordWidget('password-div','user_password', 'pull-left');
  pwdwidget.MakePWDWidget();
</script>